PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>?appName=<appName>
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
SHOPIFY_CLIENT_ID=your_shopify_client_id
SHOPIFY_CLIENT_SECRET=your_shopify_client_secret
SHOPIFY_SCOPES=read_orders,read_products
SHOPIFY_REDIRECT_URI=http://localhost:3000/shopify/callback

